# deps
node_modules
npm-debug.log*
yarn-error.log
yarn.lock
package-lock.json

# build dir
dist
log

# private config
contract/config/*
!contract/config/myfish.js

# test files
testdb
scripts/*.sh

# misc
.DS_Store

# umi
**/src/.umi
**/src/.umi-production
**/src/.umi-test
**/.env.local
